---
layout: default
---


<header id="Titulo_header">
    <title> Blog pessoal do Sillax </title>
    <h1>Blog pessoal do Sillax</h1>
</header >
<nav id="Posts">
    <ul>
        {% for post in site.posts %}
            <li><a href ="{{ post.url | relative_url }} "> {{ post.title }}</a></li>
        {% endfor %}
    </ul>
</nav>
<body>
    <header id = "Titulo_Body">
        <h1>Título do Corpo</h1>
    </header>

    <main>
        <section class= "Secao_1">
            <article class= "art_1">
                <header>
                    <h1>POSTAGEM 1</h1>
                    <p>Frase legal 1</p>
                </header>
                <p>Frase legal 2</p>
                <img src ="{{'/assets/images/BL.jpg' | relative_url }}">
                <footer>
                    Frase legal 3
                </footer>
            </article>
            <article class= "art_2">
                <header>
                    <h1>POSTAGEM 2</h1>
                    <p>Frase legal 4</p>
                </header>
                <p>Frase legal 5</p>
                <footer>
                    Frase legal 6
                </footer>
            </article>
        </section>
        <section class= "Secao_2">
            <p>Seção 2</p>
        </section>
        <aside>
            <p> Tenha um Bom Dia </p>
            <img src ="{{'/assets/images/G-OLA.gif' | relative_url }}"> 
        </aside>
    </main>
    <footer id= "Rodape">
        Copyright @2020
    </footer>
</body>
