---
layout: default
---
<header id="Titulo_header">
    <h1>Blog pessoal do Sillax</h1>
</header >
<header id = "Titulo_Body">
    <h1 href ="{{ post.url | relative_url }}"> {{ post.title }} </h1>
</header>
<body>
    <main>
        <section class= "Secao_1">
            <article class= "art_2">
                <header>
                    <h1><p> {{ post.title }} </p></h1>
                </header> 
                <body>
                    {{content}}
                </body>
            </article>
        </section>
        <aside>
            <h3>Tenha um Bom Dia !</h3> 
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src ="{{'/assets/images/G-OLA.gif' | relative_url }}"> </a>
        </aside>
    </main>
    <footer id= "Rodape">
        Copyright @2020
        <p> Postado no dia {{ page.date }} na categoria {{ page.categories }} </p>
    </footer>
</body>
