---
layout: default
---
<header id="Titulo_header">
    <title> Blog pessoal do Sillax </title>
    <h1>Blog pessoal do Sillax</h1>
</header >
<body>
    <header id = "Titulo_Body">
        <h1><p> {{ post.title }} </p></h1>
    </header>
    <main>
        <section class= "Secao_1">
            <article class= "art_2">
                <header>
                    <img src ="{{'/assets/images/Harold.jpg' | relative_url }}">
                </header> 
                <body>
                    {{content}}
                </body>
            </article>
        </section>
        <aside>
            <h2>Tenha um Bom Dia !</h2> 
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src ="{{'/assets/images/G-OLA.gif' | relative_url }}"> </a>
        </aside>
    </main>
    <footer id= "Rodape">
        Copyright @2020
        <p> Postado no dia {{ page.date }} na categoria {{ page.categories }} </p>
    </footer>
</body>
